body{background-color:gray;
}
h1{text-align:left;
    color:blue;
}
h2{text-align:right;
    color:yellow;
}
h3{text-align:center;
    color:White;
}
h4{text-align:justify;
    color:black;
    background-color:yellow;
}
h5{text-align: end;
    color: cyan;
    background-color: red;
    text-size-adjust: inherit;
}
