.cabecalio{
    background-color: red;
    color: black;
    padding: 12px;
    width: 100%;
    bottom: 0;
}
.conteudo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    
}
.table{
    align-items: center;
}
.rodape{
    background-color: red;
    color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
}