html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightsalmon;
}
input{
    background-color: darkblue;
    color: aqua;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 350px;
    margin-top: 80px;
    border: 2px solid white;
}